""" -*- mode: vim -*-
if &compatible
  set nocompatible
endif

filetype off
" set rtp+=~/.config/nvim/bundle/dein.vim

call plug#begin('~/.vim/plugged')

" config
Plug 'scrooloose/nerdtree'
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'
Plug 'kien/ctrlp.vim'
Plug 'dyng/ctrlsf.vim'
Plug 'terryma/vim-multiple-cursors'
Plug 'rking/ag.vim'
Plug 'flazz/vim-colorschemes'
Plug 'felixhummel/setcolors.vim'
Plug 'sjl/gundo.vim'
Plug 'sjbach/lusty'
Plug 'nathanaelkane/vim-indent-guides'

" Git
Plug 'tpope/vim-fugitive'
" Plug 'airblade/vim-gitgutter'
Plug 'mhinz/vim-signify'
Plug 'idanarye/vim-merginal'
Plug 'gregsexton/gitv'
Plug 'git-time-metric/gtm-vim-plugin'

" erlang
Plug 'vim-erlang/vim-erlang-runtime'
Plug 'vim-erlang/vim-erlang-tags'
Plug 'vim-erlang/vim-erlang-compiler'
Plug 'vim-erlang/vim-erlang-omnicomplete'
Plug 'vim-erlang/erlang-motions.vim'
Plug 'vim-erlang/vim-erlang-skeletons'

" Elixir
Plug 'elixir-lang/vim-elixir'
Plug 'mhinz/vim-mix-format'

" LFE
Plug 'lfe/vim-lfe'

" Ruby
Plug 'vim-ruby/vim-ruby'
Plug 'tpope/vim-rails'

" Elm
Plug 'ElmCast/elm-vim'

"Rust
Plug 'rust-lang/rust.vim'
Plug 'racer-rust/vim-racer'
Plug 'cespare/vim-toml'

"wat
Plug 'rhysd/vim-wasm'

" Language common
Plug 'editorconfig/editorconfig-vim'
Plug 'tomtom/tlib_vim'
Plug 'MarcWeber/vim-addon-mw-utils'
Plug 'garbas/vim-snipmate'
Plug 'w0rp/ale'
Plug 'majutsushi/tagbar'
Plug 'zxqfl/tabnine-vim'

" vimwiki
Plug 'vimwiki/vimwiki'
Plug 'mattn/calendar-vim'

" Java, Scala, kotlin
Plug 'derekwyatt/vim-scala'
Plug 'udalov/kotlin-vim'

" Markdown
Plug 'mzlogin/vim-markdown-toc'

" Surround
Plug 'rcarraretto/vim-surround'

" HTML, Javascript
Plug 'pangloss/vim-javascript'
Plug 'prettier/vim-prettier', {
  \ 'do': 'npm install',
  \ 'for': ['javascript', 'typescript', 'css', 'less', 'scss', 'json', 'graphql', 'vue', 'yaml']
  \ }
Plug 'othree/yajs.vim'
Plug 'mxw/vim-jsx'
Plug 'slim-template/vim-slim'
Plug 'leafgarland/typescript-vim'
" Reason - https://reasonml.github.io/en/
Plug 'reasonml-editor/vim-reason-plus'

" Haskell
Plug 'neovimhaskell/haskell-vim'

" Other
Plug 'godlygeek/tabular'
Plug 'amadeus/vim-mjml'
Plug 'pearofducks/ansible-vim'

call plug#end()

" -- config -------------------------------------------------------------------

syntax enable

" vim-airline
let g:airline_powerline_fonts = 1
let g:airline_theme='powerlineish'
let g:airline#extensions#tabline#enabled = 1
let s:mycolors = ['Benokai', 'brogrammer', 'buddy', 'buttercream', 'carvedwood', 'cobalt2', 'deepsea', 'emacs', 'fruidle']
colorscheme Benokai
"colorscheme badwolf
" + gtm
let g:gtm_plugin_status_enabled = 1
function! AirlineInit()
  if exists('*GTMStatusline')
    call airline#parts#define_function('gtmstatus', 'GTMStatusline')
    let g:airline_section_b = airline#section#create([g:airline_section_b, ' ', '[', 'gtmstatus', ']'])
  endif
endfunction
autocmd User AirlineAfterInit call AirlineInit()

" Gundo
nmap <leader>u :GundoToggle<CR>

" Ruby
autocmd FileType ruby,eruby let g:rubycomplete_buffer_loading = 1
autocmd FileType ruby,eruby let g:rubycomplete_classes_in_global = 1
autocmd FileType ruby,eruby let g:rubycomplete_rails = 1

" ALE
let g:ale_fixers = {
      \  '*': ['remove_trailing_lines', 'trim_whitespace']
      \ }
let g:ale_fix_on_save = 1
let g:ale_erlang_erlc_options = '-I . -I src -I include'
let g:ale_erlang_syntaxerl_executable = '~/bin/syntaxerl/syntaxerl'
let g:airline#extensions#ale#enabled = 1
let g:ale_sign_error = '✖︎'
" let g:ale_set_highlights = 0
hi ALEError ctermbg=DarkMagenta cterm=underline

" Elm
let g:elm_format_autosave = 1

" JSX
let g:jsx_ext_required = 0

" map nerdtree to F2
let g:NERDTreeWinSize=45
nmap <leader>f :NERDTreeToggle<CR>
noremap <F2> :NERDTreeToggle<CR>

" map tabbar to F3
nmap <leader>z :TagbarToggle<CR>
noremap <F3> :TagbarToggle<CR>

" Snipmate
let g:snips_author = "{{ fullname }}"
let g:my_email_addr = "{{ email }}"

let g:vimwiki_hl_headers = 1
let g:vimwiki_list = [{
      \ 'path': '{{ vim_wiki_path }}//personal/wiki',
      \ 'path_html': '{{ vim_wiki_path }}/personal/html',
      \ 'template_path': '{{ vim_wiki_path }}/personal/vimwiki-assets',
      \ 'template_default': 'default',
      \ 'template_ext': '.tpl',
      \ 'auto_export': 0,
      \ 'auto_toc': 0},
      \ {'path': '{{ vim_wiki_path }}/work/wiki',
      \ 'path_html': '{{ vim_wiki_path }}/work/html',
      \ 'auto_toc': 0}]
set hidden
filetype plugin indent on

" nathanaelkane/vim-indent-guides
let g:indent_guides_enable_on_vim_startup = 1
let g:indent_guides_guide_size = 1
hi IndentGuidesEven ctermbg=black
nmap <leader>i :IndentGuidesToggle<CR>

" prettier: when running at every change you may want to disable quickfix
" let g:prettier#quickfix_enabled = 0
" let g:prettier#autoformat = 0
" autocmd BufWritePre,TextChanged,InsertLeave *.js,*.jsx,*.mjs,*.ts,*.tsx,*.css,*.less,*.scss,*.json,*.graphql,*.vue,*.yaml,*.html PrettierAsync
" prettier: before saving
let g:prettier#autoformat = 0
autocmd BufWritePre *.js,*.jsx,*.mjs,*.ts,*.tsx,*.css,*.less,*.scss,*.json,*.graphql,*.vue,*.yaml PrettierAsync

" Gitgutter
" nmap <leader>g <Plug>GitGutterNextHunk
" nmap <leader>G <Plug>GitGutterPrevHunk

" signify
nmap <leader>gj <plug>(signify-next-hunk)
nmap <leader>gk <plug>(signify-prev-hunk)
